{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "plugin:vue/essential",
    "standard",
    "@vue/standard",
    "@vue/typescript"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "parser": "@typescript-eslint/parser",
    "sourceType": "module"
  },
  "plugins": [
    "vue",
    "@typescript-eslint"
  ],
  "rules": {
    "semi": [
      "error",
      "always"
    ],
    "no-unused-vars": "off",
    "space-before-function-paren": [
      "error",
      "never"
    ],
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "import/no-duplicates": "off",
    "no-array-constructor": "off"
  },
  "overrides": [
    {
      "files": ["*.ts"],
      "rules": {
        "no-useless-constructor": "off",
        "no-var-requires": "off",
      }
    }
  ],
  "root": true
}
